@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger" style="margin-bottom: 50px; margin-top: 50px">Opss... something went wrong</h1>
<h5 class="text-danger">We couldn't find the stock you were searching for...</h5>

@if (Model.ShowRequestId)
{
    <p>
        <strong style="color: white">Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

