@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="indexwrap">
<div class="text-center">
    <h1 class="display-4">Lexonic</h1>
</div>

<form method="post">
    <input placeholder = "Stock Name" type = "text" asp-for="TargetStock"></input>
</form>
</div>